/* LOVEEVIXEN */
body
{
    /* background-color: #232323; */
    background-image: url(bricktile.png);
    background-size: 80px 80px;
}

p
{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

a
{
    font-family: Arial, Helvetica, sans-serif;
    color: #7005a1;
}

/* Use this class to center contents horizontally. */
.center
{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.contentBox
{
    text-align: center;
    font-size: 20px;

    /* Content box settings */
    width: 70%;
    border-radius: 40px;
    border: 10px solid #333158;
    background-color: #2a2050;
    padding: 15px;
    margin: 0 auto;
}

.note
{
    font-size: 20px;
}

.navigationBar
{
    color: #ffffff;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}